<div class="main">
  <div class="header">
    <h1>{{recipe.name}}</h1>
  </div>
  <div class="container">
    <div class="left">
      <!--Ingredients-->
      <div class="list-ingredients">
        <h2>Lista de Ingredientes</h2>
        <div class="table-ingredients mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="">
            <!-- Ingredient Column -->
            <ng-container matColumnDef="ingrediente">
              <th mat-header-cell *matHeaderCellDef> Ingrediente </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Cantidad Column -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <!-- medida Column -->
            <ng-container matColumnDef="medida">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> {{element.measure}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
      <!--Instrucciones-->
      <div class="instructions">
        <h2>Instrucciones</h2>
        <div class="table-ingredients mat-elevation-z8">
          <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
            <!-- Ingredient Column -->
            <ng-container matColumnDef="posicion">
              <th mat-header-cell *matHeaderCellDef> Posición </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator> -->

        </div>
      </div>
    </div>
    <div class="line-scroll"></div>
    <!--Derecha-->
    <div class="right">
      <!--Temporizador-->
      <div class="timer">
        <h2>Cocina</h2>
        <div class="container-timer">
          <div class="buttons">
            <button class="btn-start" color='primary' mat-raised-button (click)="cd.resume()">Iniciar</button>
            <button class="btn-end" color='primary' mat-button (click)="cd.pause()">Pausar</button>
          </div>
          <div class="timer-time">
            <countdown class="countdownS" #cd [config]="{ leftTime: timer, format: 'mm:ss',demand: true }"></countdown>
            <p>Tiempo Restante Aprox.</p>
          </div>
        </div>
      </div>
      <!--Imagen y Tiempos de Preparacion-->
      <div class="steps-time">
        <h2>Siguiente etapa de preparación</h2>
        <div class="steps-time-container">
          <!--steps-time-->
          <div class="times-container">
            <div *ngFor="let time of times" (click)="loadTime(time.time!, time.medida_t!)" class="times-card">
              <span>{{time.time}}:00</span>
              <p>{{time.name}}</p>
            </div>
          </div>
          <!--image y nota-->
          <div class="img-notes">
            <div class="img">
              <img [src]="recipe.image" alt="">
            </div>
            <div class="notes">
              <p><b>Nota:</b>Recuerda tener todos tus ingredientes listos para no tener contra tiempos con tu
                preparación</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
