@use '@angular/material' as mat;

@include mat.core();

$my-primary-color: (
  50 : #e58846,
  100 : #ffb874,
  200 : #ae5a19,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        )
);

$my-primary: mat.define-palette($my-primary-color, 50);
$my-accent: mat.define-palette($my-primary-color, 100);
//theming
$my-secundary: mat.define-palette($my-primary-color, 200);


$my-secundary1: mat.define-palette(mat.$deep-orange-palette, A700);



$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-secundary
 )
));

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);

